### "Oh, Bother!" - Winnie the Pooh

Have you ever wondered just how many bees there are? I have, so the following project 
will aim to answer just that.

In [221]:
import pandas as pd

In [222]:
bee_data = pd.read_csv('bee_census_data.csv')

us_data = pd.read_csv('us_census_data.csv')

In [223]:
bee_data['Value'] = pd.to_numeric(bee_data['Value'], errors='coerce')
bee_data.head()

,Year,Period,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119.0,27.7
1,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65.0,27.7
2,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190.0,27.7
3,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14.0,27.7
4,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,HALE,65.0,10.0,27.7

In [224]:
year_select = bee_data[bee_data['Year'].between(2010,2012)]
clean_bee_data = year_select.groupby('State')['Value'].sum().reset_index()
clean_bee_data.rename(columns={'Value': 'BEEPOP'}, inplace=True)
clean_bee_data

             State   BEEPOP
0          ALABAMA   8533.0
1           ALASKA    546.0
2          ARIZONA   1350.0
3         ARKANSAS   4039.0
4       CALIFORNIA   4645.0
5         COLORADO   3812.0
6      CONNECTICUT   4079.0
7         DELAWARE    817.0
8          FLORIDA   8382.0
9          GEORGIA   6979.0
10          HAWAII   1809.0
11           IDAHO   1054.0
12        ILLINOIS   8572.0
13         INDIANA   8210.0
14            IOWA   4128.0
15          KANSAS   3440.0
16        KENTUCKY  11751.0
17       LOUISIANA   4656.0
18           MAINE   1624.0
19        MARYLAND   1875.0
20   MASSACHUSETTS   2796.0
21        MICHIGAN  11483.0
22       MINNESOTA   4734.0
23     MISSISSIPPI   5288.0
24        MISSOURI   8283.0
25         MONTANA     75.0
26        NEBRASKA   3700.0
27          NEVADA   1195.0
28   NEW HAMPSHIRE   1374.0
29      NEW JERSEY   3256.0
30      NEW MEXICO   2435.0
31        NEW YORK  10048.0
32  NORTH CAROLINA  17447.0
33    NORTH DAKOTA     10.0
34            OHIO  15264.0
35        OKLAHOMA   4796.0
36          OREGON   3002.0
37    PENNSYLVANIA  12365.0
38    RHODE ISLAND    739.0
39  SOUTH CAROLINA   5837.0
40    SOUTH DAKOTA    856.0
41       TENNESSEE  12605.0
42           TEXAS  12564.0
43            UTAH   3168.0
44         VERMONT   2316.0
45        VIRGINIA  14180.0
46      WASHINGTON   4325.0
47   WEST VIRGINIA   6517.0
48       WISCONSIN  11641.0
49         WYOMING    587.0

In [225]:
us_data.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [226]:
us_data['USPOP'] = us_data[['POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012']].sum(axis=1)
clean_us_data = us_data[['NAME', 'USPOP']].copy()
clean_us_data = clean_us_data.iloc[5:]
clean_us_data['NAME'] = clean_us_data['NAME'].str.upper()
clean_us_data

                    NAME      USPOP
5                ALABAMA   14400094
6                 ALASKA    2166481
7                ARIZONA   19434793
8               ARKANSAS    8814795
9             CALIFORNIA  112906671
10              COLORADO   15361104
11           CONNECTICUT   10761944
12              DELAWARE    2722153
13  DISTRICT OF COLUMBIA    1859950
14               FLORIDA   57196596
15               GEORGIA   29415742
16                HAWAII    4138096
17                 IDAHO    4749980
18              ILLINOIS   38590467
19               INDIANA   19544663
20                  IOWA    9193271
21                KANSAS    8612672
22              KENTUCKY   13104348
23             LOUISIANA   13721129
24                 MAINE    3983642
25              MARYLAND   17515056
26         MASSACHUSETTS   19842895
27              MICHIGAN   29657067
28             MINNESOTA   16033614
29           MISSISSIPPI    8933095
30              MISSOURI   18030616
31               MONTANA    2991796
32              NEBRASKA    5523517
33                NEVADA    8159131
34         NEW HAMPSHIRE    3961196
35            NEW JERSEY   26472505
36            NEW MEXICO    6232311
37              NEW YORK   58472051
38        NORTH CAROLINA   28981391
39          NORTH DAKOTA    2061116
40                  OHIO   34632922
41              OKLAHOMA   11367137
42                OREGON   11608528
43          PENNSYLVANIA   38224093
44          RHODE ISLAND    3162229
45        SOUTH CAROLINA   14024997
46          SOUTH DAKOTA    2473311
47             TENNESSEE   19208500
48                 TEXAS   76972081
49                  UTAH    8443091
50               VERMONT    1879018
51              VIRGINIA   24309934
52            WASHINGTON   20466515
53         WEST VIRGINIA    5567412
54             WISCONSIN   17115723
55               WYOMING    1708091
56           PUERTO RICO   11034745

In [227]:
combined_data = pd.merge(clean_bee_data, clean_us_data, left_on='State', right_on='NAME', how='outer')
combined_data.insert(0, 'STATE', combined_data['State'])
combined_data.drop(['State', 'NAME'], axis=1, inplace=True)
combined_data['BEEPOP'] = combined_data['BEEPOP'].apply(lambda x: '{:.2f}M'.format((x * 60000) / 1000000)).astype(str)
combined_data['USPOP'] = combined_data['USPOP'].apply(lambda x: '{:.2f}M'.format(x / 1000000)).astype(str)
combined_data

             STATE    BEEPOP    USPOP
0          ALABAMA   511.98M   14.40M
1           ALASKA    32.76M    2.17M
2          ARIZONA    81.00M   19.43M
3         ARKANSAS   242.34M    8.81M
4       CALIFORNIA   278.70M  112.91M
5         COLORADO   228.72M   15.36M
6      CONNECTICUT   244.74M   10.76M
7         DELAWARE    49.02M    2.72M
8          FLORIDA   502.92M   57.20M
9          GEORGIA   418.74M   29.42M
10          HAWAII   108.54M    4.14M
11           IDAHO    63.24M    4.75M
12        ILLINOIS   514.32M   38.59M
13         INDIANA   492.60M   19.54M
14            IOWA   247.68M    9.19M
15          KANSAS   206.40M    8.61M
16        KENTUCKY   705.06M   13.10M
17       LOUISIANA   279.36M   13.72M
18           MAINE    97.44M    3.98M
19        MARYLAND   112.50M   17.52M
20   MASSACHUSETTS   167.76M   19.84M
21        MICHIGAN   688.98M   29.66M
22       MINNESOTA   284.04M   16.03M
23     MISSISSIPPI   317.28M    8.93M
24        MISSOURI   496.98M   18.03M
25         MONTANA     4.50M    2.99M
26        NEBRASKA   222.00M    5.52M
27          NEVADA    71.70M    8.16M
28   NEW HAMPSHIRE    82.44M    3.96M
29      NEW JERSEY   195.36M   26.47M
30      NEW MEXICO   146.10M    6.23M
31        NEW YORK   602.88M   58.47M
32  NORTH CAROLINA  1046.82M   28.98M
33    NORTH DAKOTA     0.60M    2.06M
34            OHIO   915.84M   34.63M
35        OKLAHOMA   287.76M   11.37M
36          OREGON   180.12M   11.61M
37    PENNSYLVANIA   741.90M   38.22M
38    RHODE ISLAND    44.34M    3.16M
39  SOUTH CAROLINA   350.22M   14.02M
40    SOUTH DAKOTA    51.36M    2.47M
41       TENNESSEE   756.30M   19.21M
42           TEXAS   753.84M   76.97M
43            UTAH   190.08M    8.44M
44         VERMONT   138.96M    1.88M
45        VIRGINIA   850.80M   24.31M
46      WASHINGTON   259.50M   20.47M
47   WEST VIRGINIA   391.02M    5.57M
48       WISCONSIN   698.46M   17.12M
49         WYOMING    35.22M    1.71M
50             NaN      nanM    1.86M
51             NaN      nanM   11.03M