### "Oh, Bother!" - Winnie the Pooh

Have you ever wondered just how many bees there are? I have, so the following project 
will aim to answer just that.

In [79]:
import pandas as pd

In [80]:
bee_data = pd.read_csv('bee_census_data.csv')

us_data = pd.read_csv('us_census_data.csv')

In [81]:
bee_data.head()

,Year,Period,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119,27.7
1,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65,27.7
2,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190,27.7
3,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14,27.7
4,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,HALE,65.0,10,27.7

In [82]:
us_data.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [83]:
combined_data = pd.merge(bee_data, us_data, left_on='State', right_on='NAME', how='outer')
combined_data

,Year,Period,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%),...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,2012.0,END OF DEC,ALABAMA,1.0,BLACK BELT,40.0,AUTAUGA,1.0,119,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012.0,END OF DEC,ALABAMA,1.0,BLACK BELT,40.0,DALLAS,47.0,65,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012.0,END OF DEC,ALABAMA,1.0,BLACK BELT,40.0,ELMORE,51.0,190,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012.0,END OF DEC,ALABAMA,1.0,BLACK BELT,40.0,GREENE,63.0,14,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012.0,END OF DEC,ALABAMA,1.0,BLACK BELT,40.0,HALE,65.0,10,27.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.950999,6.906540,4.878573,4.473256,7.799901,10.408549,13.254138,12.865626,9.468242,8.135276
7883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.933336,1.901071,0.828402,-0.825701,-1.779985,-2.551781,-4.330978,-5.336583,-4.484031,-4.127417
7884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.247295,-0.777306,-0.834993,0.066337,-0.421473,-1.068755,-0.628600,0.729926,0.763089,0.327262
7885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.750320,-0.379930,10.019202,4.863492,-4.816885,0.207166,-7.182252,-13.322489,-5.725739,-0.819814
7886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,-14.533549,-14.982183,-13.803542,-18.263032,-18.480599,-19.848533,-23.228903,-37.860351,2.421463